<header>
  Contact Us
</header>

<main>
  <h1>We are keen to hear from you!</h1>
<form #contactForm="ngForm" (submit)="onSubmit(contactForm)">
  <label for="nameField">Name:</label>
  <input type="text"
         name="nameField" id="nameField" ngModel required><br><br>

  <label for="emailField">Email:</label>
  <input type="text" name="emailField" id="emailField" ngModel required><br><br>

  <label for="messageField">Message:</label>
  <input type="text" name="messageField" id="messageField" ngModel required><br><br>
  <div style="padding: 20px">
    <input type="checkbox" id="term" [ngModel]="false" required>
    <label for="term">I read and accept  the Terms & Conditions</label><br>
  </div>
  <input type="submit" id="submit" ngModel> // @todo: submitra nem szükséges ngModel direktíva
</form>
</main>
